.color-1,
a.color-1 {
  color: #fff;
}
.color-2,
a.color-2 {
  color: #2d2d2d;
}
.color-3,
a.color-3 {
  color: #aaaaaa;
}
.color-4,
a.color-4 {
  color: #d2ffd4;
}
.color-5,
a.color-5 {
  color: #f2f2f2;
}
.color-6,
a.color-6 {
  color: #337ab7;
}
.color-7,
a.color-7 {
  color: #b63c3c;
}
.color-8,
a.color-8 {
  color: #7d7a7d;
}
.color-9,
a.color-9 {
  color: #a94442;
}
.color-10,
a.color-10 {
  color: #fff7bf;
}
.color-11,
a.color-11 {
  color: #ecf0f5;
}
.bg-color-1 {
  background-color: #fff;
}
.bg-color-2 {
  background-color: #2d2d2d;
}
.bg-color-3 {
  background-color: #aaaaaa;
}
.bg-color-4 {
  background-color: #d2ffd4;
}
.bg-color-5 {
  background-color: #f2f2f2;
}
.bg-color-6 {
  background-color: #337ab7;
}
.bg-color-7 {
  background-color: #b63c3c;
}
.bg-color-8 {
  background-color: #7d7a7d;
}
.bg-color-9 {
  background-color: #a94442;
}
.bg-color-10 {
  background-color: #fff7bf;
}
.bg-color-11 {
  background-color: #ecf0f5;
}
#sortableListsBase,
.sortable-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #7d7a7d;
  border-bottom: 1px solid #7d7a7d;
}
#sortableListsBase ul,
.sortable-list ul {
  padding: 0;
  margin-left: 80px;
  border-top: none;
  border-bottom: none;
}
#sortableListsBase li,
.sortable-list li {
  margin: 0;
  padding: 0;
  background-color: #7d7a7d;
  list-style-type: none;
  cursor: move;
}
#sortableListsBase li > div,
.sortable-list li > div {
  padding: 7px;
  padding-left: 90px;
  background-color: #fff;
  border: 1px solid #7d7a7d;
  position: relative;
}
#sortableListsBase li > div .insert-zone,
.sortable-list li > div .insert-zone {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  padding: 0;
  background-color: #aaaaaa;
}
#sortableListsBase li > div .actions,
.sortable-list li > div .actions {
  float: right;
  z-index: 1000;
}
#sortableListsBase .placeholder,
.sortable-list .placeholder {
  background-color: #d2ffd4;
  border: 1px solid #7d7a7d;
}
#sortableListsBase .hint,
.sortable-list .hint {
  background-color: #fff7bf;
  border: 1px solid #7d7a7d;
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 18px;
}
#left-menu {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 20%;
  max-width: 300px;
  padding-top: 80px;
  color: #ddd;
  background-color: #333;
  font-size: 17px;
  overflow: hidden;
  z-index: 100;
}
#left-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#left-menu ul li a,
#left-menu ul li span {
  display: block;
  padding: 3px 5px 3px 14px;
  color: #ddd;
}
#left-menu ul li a:hover,
#left-menu ul li span:hover {
  background-color: #555;
  color: #fff;
  text-decoration: none;
}
#content {
  width: 100%;
  padding-left: 23%;
  min-height: 100%;
}
#content h1#main {
  height: 80px;
  line-height: 80px;
  font-size: 50px;
}
label {
  font-size: 14px;
}
input[type="checkbox"] {
  margin-right: 5px;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 1rem 1rem 20%;
  background-color: #efefef;
  text-align: left;
  font-size: 14px;
}
.fa-stack {
  font-size: 0.665em;
  height: 2.3em;
}
.fa-stack i {
  vertical-align: middle;
}
hr.text-danger {
  border-top-color: #a94442;
}
