.color-1,
a.color-1 {
  color: #fff;
}
.color-2,
a.color-2 {
  color: #2d2d2d;
}
.color-3,
a.color-3 {
  color: #aaaaaa;
}
.color-4,
a.color-4 {
  color: #d2ffd4;
}
.color-5,
a.color-5 {
  color: #f2f2f2;
}
.color-6,
a.color-6 {
  color: #337ab7;
}
.color-7,
a.color-7 {
  color: #b63c3c;
}
.color-8,
a.color-8 {
  color: #7d7a7d;
}
.color-9,
a.color-9 {
  color: #a94442;
}
.color-10,
a.color-10 {
  color: #fff7bf;
}
.color-11,
a.color-11 {
  color: #ecf0f5;
}
.bg-color-1 {
  background-color: #fff;
}
.bg-color-2 {
  background-color: #2d2d2d;
}
.bg-color-3 {
  background-color: #aaaaaa;
}
.bg-color-4 {
  background-color: #d2ffd4;
}
.bg-color-5 {
  background-color: #f2f2f2;
}
.bg-color-6 {
  background-color: #337ab7;
}
.bg-color-7 {
  background-color: #b63c3c;
}
.bg-color-8 {
  background-color: #7d7a7d;
}
.bg-color-9 {
  background-color: #a94442;
}
.bg-color-10 {
  background-color: #fff7bf;
}
.bg-color-11 {
  background-color: #ecf0f5;
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #fff;
  color: #2d2d2d;
  font-family: 'Cinzel Decorative', serif;
  font-size: 25px;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease;
}
body.body-default {
  background-color: #0f1225;
  color: #948aad;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
h1 {
  font-size: 70px;
  margin: 0;
}
h1.brand {
  padding: 150px 0 150px 0;
  font-family: 'Cinzel Decorative', serif;
  font-size: 125px;
  font-weight: bolder;
}
#mainMenu span.anchor,
#mainMenu a,
#mainMenu a:visited {
  display: block;
  color: #948aad;
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease;
  cursor: pointer;
}
#mainMenu span.anchor:hover,
#mainMenu a:hover,
#mainMenu a:visited:hover,
#mainMenu span.anchor:active,
#mainMenu a:active,
#mainMenu a:visited:active,
#mainMenu span.anchor:focus,
#mainMenu a:focus,
#mainMenu a:visited:focus {
  color: #514b63;
  text-decoration: none;
}
.init-color {
  color: #0f1225 !important;
}
.init-color #mainMenu a,
.init-color #mainMenu span.anchor {
  color: #0f1225 !important;
}
small {
  font-size: 0.5em;
}
#langs {
  position: fixed;
  top: 15px;
  right: 0;
  border-radius: 10px 0 0 10px;
  background-color: #070811;
}
#langs a {
  display: block;
  margin: 0;
  padding: 3px 7px;
}
.slide-block-1 {
  display: none;
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 20px;
}
#loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.flash-box {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 10000;
  width: 100%;
}
@media (min-width: 750px) {
  .flash-box {
    width: 700px;
    margin-left: -350px;
  }
}
.flash-box .alert {
  margin: 15px auto;
}
.alert {
  font-size: 14px;
  border: 3px solid transparent;
}
.alert-success {
  background-color: #e5fff1;
  border-color: #36db80;
}
.alert-danger {
  background-color: #ffeaea;
  border-color: #f9717a;
}
.modal-content {
  border-radius: 8px;
}
.modal-dialog {
  font-size: 16px;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin-top: 100px;
  }
}
.modal-dialog .modal-content {
  border: 5px solid #e7ddff;
}
.modal-dialog h4 {
  font-weight: bold;
}
.btn {
  padding: 6px 20px;
}
.default-product {
  height: 400px;
  padding: 7px;
  margin: 8px -7px;
  border: 1px solid #337ab7;
  overflow: hidden;
}
.default-product img {
  max-width: 100%;
}
.datagrid {
  font-size: 18px;
  font-family: Helvetica, Verdana;
  color: #444;
  padding: 0;
}
.mar-1 {
  margin-top: 7px;
  margin-bottom: 7px;
}
.mar-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mar-3 {
  margin-top: 14px;
  margin-bottom: 14px;
}
.mar-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mar-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mar-t-1 {
  margin-top: 7px;
}
.mar-t-2 {
  margin-top: 10px;
}
