html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #0f1225;
  color: #948aad;
  font-family: 'Cinzel Decorative', serif;
  font-size: 25px;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
h1 {
  font-size: 70px;
  margin: 0;
}
h1.brand {
  padding: 150px 0 150px 0;
  font-family: 'Cinzel Decorative', serif;
  font-size: 125px;
  font-weight: bolder;
}
.init-color {
  color: #0f1225 !important;
}
.init-color #mainMenu a,
.init-color #mainMenu span.anchor {
  color: #0f1225 !important;
}
span.anchor,
a,
a:visited {
  color: #948aad;
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease;
  cursor: pointer;
}
span.anchor:hover,
a:hover,
a:visited:hover,
span.anchor:active,
a:active,
a:visited:active,
span.anchor:focus,
a:focus,
a:visited:focus {
  color: #514b63;
  text-decoration: none;
}
#mainMenu span.anchor,
#mainMenu a,
#mainMenu a:visited {
  display: block;
}
small {
  font-size: 0.5em;
}
#langs {
  position: fixed;
  top: 15px;
  right: 0;
  border-radius: 10px 0 0 10px;
  background-color: #070811;
}
#langs a {
  display: block;
  margin: 0;
  padding: 3px 7px;
}
.slide-block-1 {
  display: none;
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 20px;
}
#loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.flash-box {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  z-index: 10000;
}
.flash-box .alert {
  margin: 15px auto;
}
@media (min-width: 750px) {
  .flash-box .alert {
    width: 700px;
  }
}
.alert {
  font-size: 14px;
  border: 3px solid transparent;
}
.alert-success {
  background-color: #e5fff1;
  border-color: #36db80;
}
.alert-danger {
  background-color: #ffeaea;
  border-color: #f9717a;
}
.modal-content {
  border-radius: 8px;
}
.modal-dialog {
  font-size: 16px;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin-top: 100px;
  }
}
.modal-dialog .modal-content {
  border: 5px solid #e7ddff;
}
.modal-dialog h4 {
  font-weight: bold;
}
.btn {
  padding: 6px 20px;
}
.datagrid {
  font-size: 18px;
  font-family: Verdana;
  color: #444;
}
