@import "colors.less";

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	background-color: @color-1;
	color: @color-2;
	font-family: Helvetica Verdana;
	font-size: 25px;
	transition-property: color;
	transition-duration: 1s;
	transition-timing-function: ease;
}

body.body-default {
	font-family: 'Cinzel Decorative', serif;
	background-color: #0f1225;
	color: #948aad;
	transition-property: color;
	transition-duration: 1s;
	transition-timing-function: ease;
}

#footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}

h1 {
	font-size: 70px;
	margin: 0;

	&.brand {
		padding: 150px 0 150px 0;
		font-family: 'Cinzel Decorative', serif;
		font-size: 125px;
		font-weight: bolder;
	}
}

#mainMenu {
	span.anchor,
	a,
	a:visited {
		display: block;
		color: #948aad;
		text-decoration: none;
		transition-property: color;
		transition-duration: 1s;
		transition-timing-function: ease;
		cursor: pointer;

		&:hover, &:active, &:focus {
			color: #514b63;
			text-decoration: none;
		}
	}
}

.init-color {
	color: #0f1225 !important;

	#mainMenu {
		a,
		span.anchor {
			color: #0f1225 !important;
		}
	}
}

small {
	font-size: 0.5em;
}

#langs {
	position: fixed;
	top: 15px;
	right: 0;
	border-radius: 10px 0 0 10px;
	background-color: #070811;

	a {
		display: block;
		margin: 0;
		padding: 3px 7px;
	}
}

.slide-block-1 {
	display: none;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 20px;
}

#loader {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

.flash-box {
	position: absolute;
	top: 50px;
	left: 50%;
	z-index: 10000;
	width: 100%;

	@media (min-width: 750px) {
		width: 700px;
		margin-left: -350px;
	}

	.alert {
		margin: 15px auto;
	}
}

.alert {
	font-size: 14px;
	border: 3px solid transparent;
}

.alert-success {
	background-color: #e5fff1;
	border-color: #36db80;
}

.alert-danger {
	background-color: #ffeaea;
	border-color: #f9717a;
}

.modal-content {
	border-radius: 8px;
}

.modal-dialog {
	@media (min-width: 768px) {
		margin-top: 100px;
	}

	font-size: 16px;

	.modal-content {
		border: 5px solid #e7ddff;
	}
	h4 {
		font-weight: bold;
	}
}

.btn {
	padding: 6px 20px;
}

a.default-product, .default-product {
	display: block;
	text-decoration: none;
	color: @color-2;
	height: 400px;
	padding: 7px;
	margin: 8px -7px;
	border: 1px solid #c2ccec;
	box-shadow: 0 0 5px #ebe9ec;
	overflow: hidden;
	font-size: 20px;
	font-family: Helvetica Verdana;

	h2 {
		font-size: 24px;
		padding: 0;
		margin: 7px 0 14px 0;
		font-weight: bold;
	}

	img {
		max-width: 100%;
	}
}




@import "datagrid.less";
@import "margins-paddings.less";