parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


translation:
	debugger: true
	default: sk
	fallback: [sk_SK, sk]
	whitelist: [sk, en, cs]


orm:
	model: App\Model\Orm\Orm


extensions:
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	translation: Kdyby\Translation\DI\TranslationExtension


services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Model\UserManager
	authorizatorFactory: App\Model\AuthorizatorFactory
	authorizator: @authorizatorFactory::create

	#SERVICES
	- App\Model\Services\CategoriesService

	#COMPONENTS
	- App\Front\Components\IModalControlFactory
	- App\Front\Components\ITestControlFactory
	- App\Admin\Components\IAdminEshopMenuControlFactory

	#FORMS
	- App\Front\Components\ISignInFormControlFactory
	- App\Admin\Forms\ICategoryNameFormControlFactory
	- App\Admin\Forms\ICategoryCreateFormControlFactory

	#DATAGRIDS
	- App\Front\Components\IDatagridTestControlFactory
	- App\Front\Components\IDatagridUsersControlFactory