
datagrid:
	id: ID
	text: Text
	created: Vytvorené

datagridUsers:
	id: ID
	name: Meno
	email: Email
	roles: Role
	created: Vytvorený
	active: Aktívny
	inactive: Neaktívny
	activeAll: všetky
	active1: aktívny
	active0: neaktívny
	delete: Zmazať
	confirmDelete: Naozaj chcete zmazať záznam %s?
	deleteSuccess: Položka bola zmazaná

datagridProducts:
	id: ID
	name: Názov
	price: Cena
	stock: Skladom
	created: Vytvorený
	statusAll: všetky
	statusActive: Aktívny
	statusInactive: Neaktívny
	delete: Zmazať
	confirmDelete: Naozaj chcete zmazať produkt %s?
	deleteSuccess: Položka bola zmazaná
	edit: Editovať

