
{block content}

<div class="row disp-none" id="article-category-form">
	<div class="col-xs-12">
		<a n:href=":Admin:Products:create" class="btn btn-primary">Pridať produkt</a>
	</div>
</div>

<div class="row">
	<h3 class="col-xs-12 col-md-10 col-lg-6">Editovať produkty</h3>
</div>

{control productsDatagrid}
